<div class="speaker-stats">
  <figure class="speaker">
    <p class="name"><a href="{{ link }}">{{ name }}</a></p>
    <div class="photo-wrapper"><img src="{{ photo }}" alt="{{ name }}"></div>
  </figure>

  <div class="numbers">
    <span title="Pravda" class="glyphicons true {% if stats.true == 0 %}none{% endif %}"><i></i> <span class="veracityNumber">{{ stats.true }}</span></span>
    <span title="Nepravda" class="glyphicons untrue {% if stats.untrue == 0 %}none{% endif %}"><i></i> <span class="veracityNumber">{{ stats.untrue }} </span></span>
    </div>
  <div class="numbers">
    <span title="Zavádějící" class="glyphicons misleading {% if stats.misleading == 0 %}none{% endif %}"><i></i> <span class="veracityNumber">{{ stats.misleading }} </span></span>
    <span title="Neověřitelné" class="glyphicons nonverifiable {% if stats.nonverifiable == 0 %}none{% endif %}"><i></i> <span class="veracityNumber">{{ stats.nonverifiable }} </span></span>
  </div>
</div>
