<article class="row statement">
	<header class="large-2 medium-2 columns speaker">
		<figure class="speaker"><a href="{{ speaker.link }}">
			<div class="photo-wrapper"><img src="http://demagog.cz{{ speaker.photo }}" alt="{{ speaker.name }}"></div>
			<h4 class="name">{{ speaker.name }}</h4>
		</a></figure>
	</header>
	<div class="large-8 medium-10 columns" id="{{ id }}">
		<p class="quote">„{{ statement }}“</p>
		<div class="reasons {% if not important %}hidden{% endif %}">
			<p class="veracity glyphicons {{ veracity }}"><span class="glyphicons"><i></i></span> {{ veracity }}</p>
			<a class="show-reasons" href="#">zobrazit odůvodnění</a>
			<div class="explanation">{{ explanation|raw }}</div>
		</div>
	</div>
	<div class="columns"></div>
</article>
